<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <audio
      src="https://open.spotify.com/track/0HJQD8uqX2Bq5HVdLnd3ep"
      controls="true"
    ></audio>
    <form action="/album" method="post">
      <input type="text" name="image" />
      <input type="text" name="name" />
      <input type="text" name="song" />
      <input type="submit" value="submit" />
    </form>
  </body>
</html>
