*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    height:100%;
    width:100%;
}
#main{
   
    width:100vw;
    display: flex;
    background-color: red   ;
    position: relative;
    
}
body::-webkit-scrollbar{
    display: none;
}
#left{
    width:18vw;
    height:100vh;
    background-color:black;
   
    font-family: Gilroy;
    padding:20px;
    position: fixed;
    font-size: 15px;
}

#left h4{
    font-weight: 500;
    
}
#left a{
text-decoration: none;
color:rgb(202, 198, 198);
}

.l{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:35%;
    height:50px;
}
.l h4{
text-align: right;
}
#b{
    width:39%;
}
#a{
    width:52%;
}
.l i{
    font-size: 25px;
}
#c{
    margin-top: 20px;
    width:62%;
}
#d{
    width:54%;
}
#d i{
    color: rgb(164, 70, 203);
}

.center{
    color:white;
    position: absolute;
    right:0;
    top:0;
    
    width:82vw;
    background-color: rgb(28, 25, 25);
    font-family: Gilroy;
    
  
}
.nav{
    background-color: rgb(42, 39, 39);
}

#nav{
    width:82vw;
    background-color: rgba(12, 12, 12, 0.797);
    height:70px;
   padding:20px;
   display: flex;
   
   position: fixed;
   
}
#nav i{
  
    font-size: 35px;
   margin-left: 12px;
    
}
#nav i:hover{
    cursor: pointer;
}

.blur{
    width:100%;
    height:50vh;
    background-color: gray;

}
.blur img{
    height:100%;
    width:100%;
    object-fit: cover;
    
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    color:black;
    height:3.5em;
    width:3.5em;
    border-radius: 50%;
}
.content{
    width:82vw;
    margin-left: 30px;
    margin-top: 25px;
}
.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:8vw;
}
.button i{
    font-size:2em;
}

.heart i{
 font-size: 40px;
 
}
#btmnav{
    display: flex;
    justify-content: space-between;
    
}
.hash{
   
   width:1.5em;
   
}
.hashes{
   
    width:1.5em;
   
 }
.title{
width:28em;
}
.layout{
    padding:30px 40px;
}
.album{
   width:24em; 
   
    
}
.dateadded{
    width:15em;
    
}
.duration{
   
    width:5em;
}
.grid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    height: 4em;    
    position: relative;
 
  
}
.cover{
  
    position: absolute;
    height:100%;
    width:100%;

   
}
.titlecontent{
    display: flex;
    align-items: center;
    
}
.grid a{
    text-decoration: none;
    color:white;
    font-size: 14px;
}
.img{
    height:45px;
    width:45px;
    margin-right: 1em;
}
.img img{
    height: 100%;
    width:100%;
    object-fit: cover;
}
#pauseAndPlay{
    margin-left: -5px;
    font-size: 20px;
}


.playbar{
   
    position: fixed;
    bottom:0;
    height:12vh;
    z-index: 999;
    background-color:rgb(35, 34, 34) ;
    width:100vw;
    color:white;
    font-family: Gilroy;
   padding: 10px;
    align-items: center;
  display: flex;
    justify-content: space-between;
}
.blank{
    width:20em;
}
.song{
    display: flex;
    align-items: center;

}
.songimg{
    height:60px;
    width:60px;
    margin-right: 1em;
}
.songimg img{
    height:100%;
    width:100%;
    object-fit: cover;
}
.song i{
    font-size: 25px;
}
.songdetails{
    margin-right: 2em;
}
.buttons{
    align-items: center;
    display: flex;
    margin-left: 10em;
    margin-bottom: 1em;
}
#cir{
    border-radius: 50%;
    background-color: white;
    color:black;
    padding: 3px;
}
.buttons i{
    margin-left: 20px;
    font-size: 25px;
}
.meter{
    height: 5px;
    width:30em;
    background-color: gray;
    position: relative;
    border-radius: 5px;
}

.mover{
    background-color: white;
    width:0%;
    height: 100%;
   display: flex;
   align-items: center;
}
.bob{
    height:12px;
    width:12px;
    border-radius: 50%;;
    background-color: white;
   display: none;
   margin-left: auto;
}
.grid:last-child{
margin-bottom: 5em;
}
.bigmeter{
   
    padding:3px;
}